

body{
    z-index: -1;
    font-family: 'arial',sans-serif;
    background-color:#fafafa;
}

.inspired{
    position: relative;
    height:100px;
    left:25%;
    margin-right:10%;
    top:100px;
    text-align:right;
    color:grey;
    width:1000px;
    font-size:25px;
    background-color:#fafafa;
    font-family: 'Pacifico', cursive;
}
a{
    text-decoration: none;
    color:#66757f;
    background-color:white;
}



#skills{
    padding:12px;

}

#projects {
     padding:12px; 
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: deepskyblue;
}

#leadership {
     padding:12px;   
}
#internship {
     padding:12px;   
}
.menu{
    position:fixed;
    top:0px;
    left:1px;
    width:100%;
    background-color: white;
    border-style:inset;
    border-width: medium;
    border-bottom-style: solid;
    border-bottom-color:grey;
    border-bottom-width: medium;
    z-index: 10;
    
}
.menu li{
    display: block;
    color: #66757f;
    background-color:white;
    float:left;
    margin-left:70px;
}

.menu li.icons{
    margin-right:-70px;
}

.pushpostdown{
    width:100%;
    height:100px;
    background-color:#fafafa;

}

.top_post{
    width=100%;
    height:64px;
    margin:0px;
    margin-bottom:15px;
}

.top_post img{
    display:inline-block;
    margin:0px;
    z-index:3;
    }
.headerpost{
    display:inline-block;
    margin-top:0px;
    position:relative;
    top:-42px;
    left:5px;
    font-size:30px;
    margin:0px;
}

.location{
    
position:relative;
display:inline-block;
top:-17px;
right:200px;
color:#646262;
    
}
.post{
    position:static;
    margin-left:30%;
    top:800px;
    width:600px;
    border-style:solid;
    border-width: 0.5px;
    margin-bottom:35px;
    border-color: #efefef;
    color:#292f33;
    background-color: #FFF;
    padding:3px;
    z-index: 3;
}


.bottompost{
    position:relative;
    width:100%;
    height:64px;
/*    background-color:black;*/
}

.bottomdes{
    position:relative;
    margin:0px;
}

.date {
    color:#808c94;
    font-size: 12px;
    margin-left:5px;
}

.menu2{
    visibility: hidden;
}

@media screen and (max-width: 480px)  {
    
    
    .menu{
        max-width: 370px;;
        max-height: 60px;
        border-right-style:solid;
        border-right-width:4px;
        border-right-color:gray;
    }
    
    .menu li{
        visibility: hidden;
        margin:0px;
    }
    
.menu li.icons{
    visibility: visible;
    }
    
    .inspired{
        visibility: hidden;
        height: 0px;
        position: fixed;
        left:20px;
        top:20px;
        margin:0px;
    }
    
    .post{
        max-width:360px;
        margin:0px;
        font-size:12px;
        z-index: 2;
    }
    
    .post img{
        max-width:360px;
        z-index: 2;
    }

    .pushpostdown{
        height:12%;
    }
    
    .menu2{
        visibility: visible;
        position: static;
        text-align: center;
        background-color:#fafafa;
        left:150px;
        color:#808c94;
        font-size:20px;
        z-index: 0;
        padding::4px;
        margin-top:0px;
        
    }
    
 
    }