*{
    background-color:#f5f8fa;
        
}
h1{
    margin:0px;
}
body{
    margin:0px;
    background-color:#f5f8fa;
    font-family: 'arial',sans-serif;
}

.inspired{
    position: relative;
    height:100px;
    left:25%;
    margin-right:10%;
    top:1200px;
    text-align:right;
    color:grey;
    width:1000px;
    font-size:25px;
    background-color:;
    font-family: 'Pacifico', cursive;
}
a{
    text-decoration: none;
    color:#66757f;
    background-color:white
}



#skills{
    padding:12px;

}

#projects {
     padding:12px; 
    text-decoration: none;
}

#leadership {
    padding:12px; 

}
#internship {
     padding:12px; 
    border-bottom-style: solid;
    border-bottom-color: deepskyblue;
}
.menu{
    position:fixed;
    top:0px;
    left:1px;
    width:100%;
    background-color: white;
    border-style:inset;
    border-width: medium;
    border-bottom-style: solid;
    border-bottom-color:grey;
    border-bottom-width: medium;
    z-index: 10;
    
}
.menu li{
    display: block;
    color: #66757f;
    background-color:white;
    float:left;
    margin-left:70px;

}

.menu li.icons{
    margin-right:-70px;
}



.blck{
    position:relative;
    display: inline-flex;
    height:400px;
    width:350px;
    z-index: 0;
    padding:3px;
    margin-left:45px;
    margin-top:100px;
    margin-bottom:35px;
    border-radius: 5px 4px 400px 400px;
    overflow:hidden;
    
    
}

.column{
    border-bottom-style:double;
    border-bottom-width:2px;
    border-bottom-color:#808c94;
    height:600px;
}

.date{
    display:inline-block;
    position:relative;
    top:-360px;
    color:#808c94;
}

.duration{
    display:inline-block;
    position:relative;
    top:-330px;
    left:-230px;
    color:#808c94;
}

.responsibilites{
    display:inline-block;
    position:relative;
    top:-300px;
    left:-380px;
    color:#808c94;
    font-size:16px;
}

.column ul{
    position:relative;
    top:-330px;
    left:400px;
    display: inline-block;
    color:#808c94;
    font-size:18px;
}

.column li{
    margin-bottom:20px;
}